.photo-logo-step-1 {padding:109px 0 114px 0}
.photo-logo-step-1::after {content:""; display:block; clear:both}

@media (max-width:1169px) {
    .photo-logo-step-1 {padding:30px 0 80px 0}
}

.photo-logo-step-1-samples {float:right; width:386px; line-height:0; padding:0 0 0 42px; border-left:1px solid rgba(196, 196, 196, 0.5)}
.photo-logo-step-1-sample {float:right; width:142px}
.photo-logo-step-1-sample:first-child {float:left; margin:103px 0 0 0; width:168px}
.photo-logo-step-1-sample img {display:block; width:100%}

@media (max-width:1169px) {
    .photo-logo-step-1-samples {float:none; width:auto; padding:0 45px; border-left:none; text-align:center; font-size:0; letter-spacing:-1px}
    .photo-logo-step-1-samples::after {content:""; display:block; clear:both}
    .photo-logo-step-1-sample {width:50%; padding:0 10px}
    .photo-logo-step-1-sample:first-child {width:50%; padding:0 10px; margin:0}
}

.photo-logo-step-1-container {float:left; width:494px}
.photo-logo-step-1-title {font:32px/45px HelveticaNeueCyrMedium, sans-serif; color:#000; letter-spacing:0.03em; text-transform:uppercase}
.photo-logo-step-1-text {margin:20px 0 0 0; font:18px/27px HelveticaNeueCyrLight, sans-serif; color:#000}
.photo-logo-step-1-file {position:relative; overflow:hidden; margin:40px 0 0 0; height:90px; background:#f4f4f4; transition:all 0.2s}
.photo-logo-step-1-file:hover {background:#ececec}
.photo-logo-step-1-file::before {content:""; display:block; position:absolute; left:10px; top:10px; right:10px; bottom:10px; border:1px dashed #d2d2d2}
.photo-logo-step-1-file-title {position:absolute; left:0; top:50%; right:0; text-align:center; transform:translateY(-50%); font:16px/24px HelveticaNeueCyr, sans-serif; color:#8a8a8a; text-transform:uppercase; letter-spacing:0.03em; transition:all 0.2s}
.photo-logo-step-1-file:hover .photo-logo-step-1-file-title {color:#222}
.photo-logo-step-1-file-title::before {content:""; display:inline-block; vertical-align:middle; width:31px; height:31px; background:url(images/file-input.svg) no-repeat; margin:-4px 12px 0 0}
.photo-logo-step-1-file input {height:200px; position:absolute; top:0; right:0; opacity:0; cursor:pointer; font-size:200px; background:url(images/blank.gif); -webkit-appearance:none}
.photo-logo-step-1-steps {margin:40px 0 0 0; font:14px/21px HelveticaNeueCyr, sans-serif; color:#000}
.photo-logo-step-1-steps strong {font-weight:normal; font-family:HelveticaNeueCyrBold, sans-serif; color:#c1064b}
.photo-logo-step-1-steps span {display:inline-block; vertical-align:middle; width:6px; height:10px; background:url(images/steps-sep.svg) no-repeat; margin:-2px 12px 0 12px}

@media (max-width:1169px) {
    .photo-logo-step-1-container {float:none; width:auto; margin:40px 0 0 0; text-align:center}
    .photo-logo-step-1-title {font-size:28px; line-height:39px}
    .photo-logo-step-1-text {font-size:20px; line-height:30px}
    .photo-logo-step-1-file-title {font-size:18px; line-height:27px}
}

.photo-logo-step-2 {padding:96px 0 73px 0; max-width:380px; margin:0 auto; display:none; position:relative}
.photo-logo-step-2.loading::after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(255, 255, 255, 0.5) url(images/loading.gif) no-repeat center; z-index:2}
.photo-logo-step-2-select {padding:0 10px}
.photo-logo-step-2-select::after {content:""; display:block; clear:both}
.photo-logo-step-2-select-item {float:left; width:50%; padding:0 10px}
.photo-logo-step-2-select-item a {display:block; height:44px; font:16px/44px NGTL_Bold, sans-serif; text-transform:uppercase; letter-spacing:0.03em; text-decoration:none; color:#9d9d9d; background:#f4f4f4; text-align:center}
.photo-logo-step-2-select-item a:hover,
.photo-logo-step-2-select-item.active a {color:#fff; background:#c1064b}
.photo-logo-step-2-img {margin:20px 0 0 0; height:467px; position:relative; background:#fff; line-height:467px; text-align:center}
.photo-logo-step-2-img img {display:inline-block; vertical-align:middle; width:auto; height:auto; max-width:100%; max-height:100%}
.photo-logo-step-2-img-container {visibility:hidden; position:absolute; left:0; top:0; width:100%; height:100%}
.photo-logo-step-2-img-container canvas {position:absolute; left:50%; top:0; width:380px; height:467px; transform:translateX(-50%)}
.photo-logo-step-2-download {margin:40px 0 0 0; text-align:center}
.photo-logo-step-2-download a {display:inline-block; vertical-align:top; width:176px; height:44px; border:2px solid #000; text-align:center; text-decoration:none; font:16px/40px NGTL_Bold, sans-serif; text-transform:uppercase; letter-spacing:0.03em; color:#2b2b2b}
.photo-logo-step-2-download a:hover {background:#000; color:#fff}
.photo-logo-step-2-download a svg {display:inline-block; vertical-align:middle; margin:-2px 10px 0 0}
.photo-logo-step-2-download a path {stroke:#2b2b2b; transition:all 0.3s ease-out 0s}
.photo-logo-step-2-download a:hover path {stroke:#fff}
.photo-logo-step-2-other {margin:26px 0 0 0; text-align:center; font:14px/21px NGTL_Bold, sans-serif; text-transform:uppercase; letter-spacing:0.03em}
.photo-logo-step-2-other a {color:#797979; text-decoration:none; border-bottom:1px dashed #797979; transition:all 0.2s}
.photo-logo-step-2-other a:hover {border-bottom-color:transparent}

@media (max-width:1169px) {
    .photo-logo-step-2 {padding:50px 0 90px 0}
    .photo-logo-step-2-select-item a {height:47px; font-size:18px; line-height:47px}
    .photo-logo-step-2-download a {font-size:18px; height:47px; line-height:43px}
}

@media (max-width:479px) {
    .photo-logo-step-2-img {height:309px; line-height:309px}
}